In [6]:
import pandas as pd

Timestamp 时间戳

In [2]:
pd.Timestamp("2017-1-1")

Timestamp('2017-01-01 00:00:00')

In [4]:
pd.Timestamp(2017,10,1)

Timestamp('2017-10-01 00:00:00')

In [5]:
pd.Timestamp("2018--1-1 12:59:59")

Timestamp('2018-01-01 12:59:59')

时间戳索引

In [7]:
pd.to_datetime(["2017-1-1","2017-1-2","2017-1-3"])

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq=None)

In [9]:
pd.to_datetime(['Jul 1, 2017', '2017-10-10', None])

DatetimeIndex(['2017-07-01', '2017-10-10', 'NaT'], dtype='datetime64[ns]', freq=None)

In [10]:
pd.to_datetime(['2017/10/1','2017.1.31'])

DatetimeIndex(['2017-10-01', '2017-01-31'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.to_datetime('1-10-2017')

Timestamp('2017-01-10 00:00:00')

In [13]:
pd.to_datetime('1-10-2017', dayfirst=True)

Timestamp('2017-10-01 00:00:00')

In [14]:
pd.to_datetime(pd.Series(['2017-1-1','2017-1-2','2017-1-3']))

0   2017-01-01
1   2017-01-02
2   2017-01-03
dtype: datetime64[ns]

In [15]:
pd.to_datetime(['2017-1-1','2017-1-2','2017-1-3'])

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq=None)

In [16]:
pd.to_datetime(pd.DataFrame({'year':[2017,2017],'month':[1,2],'day':[3,4],'hour':[5,6]}))

0   2017-01-03 05:00:00
1   2017-02-04 06:00:00
dtype: datetime64[ns]

In [17]:
# 遇到无效数据报错
pd.to_datetime(['2017-1-1','invalid'], errors='raise')

ValueError: Unknown string format

In [19]:
# 忽略无效数据
pd.to_datetime(['2017-1-1','invalid'], errors='ignore')

array(['2017-1-1', 'invalid'], dtype=object)

In [20]:
# 无效数据显示为 NaT
pd.to_datetime(['2017-1-1', 'invalid'], errors='coerce')

DatetimeIndex(['2017-01-01', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
# 2017-1-1 到 2017-1-2，以小时间隔
pd.date_range('2017-1-1','2017-1-2', freq='H')

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:00:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 07:00:00',
               '2017-01-01 08:00:00', '2017-01-01 09:00:00',
               '2017-01-01 10:00:00', '2017-01-01 11:00:00',
               '2017-01-01 12:00:00', '2017-01-01 13:00:00',
               '2017-01-01 14:00:00', '2017-01-01 15:00:00',
               '2017-01-01 16:00:00', '2017-01-01 17:00:00',
               '2017-01-01 18:00:00', '2017-01-01 19:00:00',
               '2017-01-01 20:00:00', '2017-01-01 21:00:00',
               '2017-01-01 22:00:00', '2017-01-01 23:00:00',
               '2017-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [23]:
# 从 2017-1-1 开始，以 1s 为间隔，向后推 10 次
pd.date_range('2017-1-1', periods=10, freq='s')

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 00:00:01',
               '2017-01-01 00:00:02', '2017-01-01 00:00:03',
               '2017-01-01 00:00:04', '2017-01-01 00:00:05',
               '2017-01-01 00:00:06', '2017-01-01 00:00:07',
               '2017-01-01 00:00:08', '2017-01-01 00:00:09'],
              dtype='datetime64[ns]', freq='S')

In [24]:
# 从 2017-1-1 开始，以 1H20min 为间隔，向后推 10 次
pd.date_range('1//1/2017',periods=10, freq='1H20min')

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:20:00',
               '2017-01-01 02:40:00', '2017-01-01 04:00:00',
               '2017-01-01 05:20:00', '2017-01-01 06:40:00',
               '2017-01-01 08:00:00', '2017-01-01 09:20:00',
               '2017-01-01 10:40:00', '2017-01-01 12:00:00'],
              dtype='datetime64[ns]', freq='80T')

In [25]:
a = pd.date_range('2017-1-1',periods=10, freq='1D1H')
a

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-02 01:00:00',
               '2017-01-03 02:00:00', '2017-01-04 03:00:00',
               '2017-01-05 04:00:00', '2017-01-06 05:00:00',
               '2017-01-07 06:00:00', '2017-01-08 07:00:00',
               '2017-01-09 08:00:00', '2017-01-10 09:00:00'],
              dtype='datetime64[ns]', freq='25H')

In [27]:
# 选取索引为1的时间戳
a[1]

Timestamp('2017-01-02 01:00:00', freq='25H')

In [28]:
# 对索引从0到4的时间进行切分
a[:5]

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-02 01:00:00',
               '2017-01-03 02:00:00', '2017-01-04 03:00:00',
               '2017-01-05 04:00:00'],
              dtype='datetime64[ns]', freq='25H')

DateOffset 对象

In [31]:
import  pandas as pd
from pandas import offsets
a = pd.date_range('2017-1-1', periods=10, freq='1D1H')
a

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-02 01:00:00',
               '2017-01-03 02:00:00', '2017-01-04 03:00:00',
               '2017-01-05 04:00:00', '2017-01-06 05:00:00',
               '2017-01-07 06:00:00', '2017-01-08 07:00:00',
               '2017-01-09 08:00:00', '2017-01-10 09:00:00'],
              dtype='datetime64[ns]', freq='25H')

In [32]:
# 使用 DateOffset 对象让 a 依次增加 1 个月 + 2 天 + 3 小时
a + offsets.DateOffset(month=1, days=2, hour=3)

/Users/sunlu/anaconda/lib/python2.7/site-packages/pandas/core/indexes/datetimes.py:831: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2017-01-03 03:00:00', '2017-01-04 03:00:00',
               '2017-01-05 03:00:00', '2017-01-06 03:00:00',
               '2017-01-07 03:00:00', '2017-01-08 03:00:00',
               '2017-01-09 03:00:00', '2017-01-10 03:00:00',
               '2017-01-11 03:00:00', '2017-01-12 03:00:00'],
              dtype='datetime64[ns]', freq='D')

In [33]:
# 使用 DateOffset 对象让 a 向后偏移 2 周
a + 2*offsets.Week()

DatetimeIndex(['2017-01-15 00:00:00', '2017-01-16 01:00:00',
               '2017-01-17 02:00:00', '2017-01-18 03:00:00',
               '2017-01-19 04:00:00', '2017-01-20 05:00:00',
               '2017-01-21 06:00:00', '2017-01-22 07:00:00',
               '2017-01-23 08:00:00', '2017-01-24 09:00:00'],
              dtype='datetime64[ns]', freq='25H')

Period 时间间隔

In [34]:
import pandas as pd

# 1 年跨度
pd.Period('2017')

Period('2017', 'A-DEC')

In [35]:
# 1个月跨度
pd.Period('2017-1')

Period('2017-01', 'M')

In [36]:
# 1天跨度
pd.Period('2017-1-1')

Period('2017-01-01', 'D')

In [37]:
# 1小时跨度
pd.Period('2017-1-1 12')

Period('2017-01-01 12:00', 'H')

In [38]:
# 1分钟跨度
pd.Period('2017-1-1 12:00')

Period('2017-01-01 12:00', 'T')

In [39]:
# 1秒跨度
pd.Period('2017-1-1 12:05:00', 'S')

Period('2017-01-01 12:05:00', 'S')

In [40]:
pd.period_range('2017-1', '2018-1', freq='M')

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01'],
            dtype='period[M]', freq='M')

In [41]:
pd.Period('2017-1-1')

Period('2017-01-01', 'D')

In [42]:
pd.Timestamp('2017-1-1')

Timestamp('2017-01-01 00:00:00')

时序数据检索

In [44]:
import numpy as np
import pandas as pd

# 生成时间索引
i = pd.date_range('2017-1-1', periods=20, freq='M')
i

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31'],
              dtype='datetime64[ns]', freq='M')

In [45]:
# 生成随机数据并添加时间作为索引
data = pd.Series(np.random.randn(len(i)), index=i)
data

2017-01-31    1.371478
2017-02-28   -1.157895
2017-03-31    0.424856
2017-04-30    0.284119
2017-05-31   -0.454915
2017-06-30    0.186624
2017-07-31   -1.013622
2017-08-31    0.758245
2017-09-30   -0.345331
2017-10-31   -1.035770
2017-11-30    0.284964
2017-12-31    2.107676
2018-01-31    0.906906
2018-02-28    1.234486
2018-03-31   -0.336211
2018-04-30   -1.198593
2018-05-31    0.220974
2018-06-30    1.134804
2018-07-31   -2.438670
2018-08-31    2.007354
Freq: M, dtype: float64

In [46]:
# 检索 2017 年的所有数据
data['2017']

2017-01-31    1.371478
2017-02-28   -1.157895
2017-03-31    0.424856
2017-04-30    0.284119
2017-05-31   -0.454915
2017-06-30    0.186624
2017-07-31   -1.013622
2017-08-31    0.758245
2017-09-30   -0.345331
2017-10-31   -1.035770
2017-11-30    0.284964
2017-12-31    2.107676
Freq: M, dtype: float64

In [47]:
# 检索 2017 年 7 月到 2018 年 3 月之间的所有数据
data['2017-07':'2018-03']

2017-07-31   -1.013622
2017-08-31    0.758245
2017-09-30   -0.345331
2017-10-31   -1.035770
2017-11-30    0.284964
2017-12-31    2.107676
2018-01-31    0.906906
2018-02-28    1.234486
2018-03-31   -0.336211
Freq: M, dtype: float64

In [48]:
# 检索 2017 年 7 月到 2018 年 3 月之间的所有数据
data.loc['2017-01']

2017-01-31    1.371478
Freq: M, dtype: float64

In [49]:
# 使用 truncate 方法检索 2017-3-1 到 2018-4-2 期间的数据
data.truncate(before='2017-3-1', after='2018-4-2')

2017-03-31    0.424856
2017-04-30    0.284119
2017-05-31   -0.454915
2017-06-30    0.186624
2017-07-31   -1.013622
2017-08-31    0.758245
2017-09-30   -0.345331
2017-10-31   -1.035770
2017-11-30    0.284964
2017-12-31    2.107676
2018-01-31    0.906906
2018-02-28    1.234486
2018-03-31   -0.336211
Freq: M, dtype: float64

时序数据偏移

In [50]:
import numpy as np
import pandas as pd
# 生成时间索引
i = pd.date_range('2017-1-1', periods=5, freq='M')
i

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31'],
              dtype='datetime64[ns]', freq='M')

In [53]:
# 生成随机数据并添加时间作为索引
data = pd.Series(np.random.randn(len(i)), index = i)
data

2017-01-31   -0.568402
2017-02-28   -0.577463
2017-03-31   -1.526812
2017-04-30   -0.504770
2017-05-31   -0.269233
Freq: M, dtype: float64

In [55]:
# 将索引向前位移 3 个单位，也就是数据向后位移 3 个单位，缺失数据 Pandas 会用 NaN 自动填充
data.shift(3)

2017-01-31         NaN
2017-02-28         NaN
2017-03-31         NaN
2017-04-30   -0.568402
2017-05-31   -0.577463
Freq: M, dtype: float64

In [56]:
# 将索引向后位移 3 个单位，也就是数据向前位移 3 个单位
data.shift(-3)

2017-01-31   -0.504770
2017-02-28   -0.269233
2017-03-31         NaN
2017-04-30         NaN
2017-05-31         NaN
Freq: M, dtype: float64

In [57]:
# 将索引的时间向后移动 3 天
data.shift(3, freq='D')

2017-02-03   -0.568402
2017-03-03   -0.577463
2017-04-03   -1.526812
2017-05-03   -0.504770
2017-06-03   -0.269233
dtype: float64

时序数据重采样

In [58]:
import pandas as pd
import numpy as np
i = pd.date_range('2017-1-1', periods=20, freq='D')
i

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16',
               '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20'],
              dtype='datetime64[ns]', freq='D')

In [60]:
data = pd.Series(np.random.randn(len(i)), index=i)
data

2017-01-01    0.408097
2017-01-02   -0.947863
2017-01-03    0.705552
2017-01-04   -0.312739
2017-01-05    0.995997
2017-01-06    2.975416
2017-01-07   -0.128451
2017-01-08   -0.510146
2017-01-09    0.019520
2017-01-10   -1.513320
2017-01-11    0.191937
2017-01-12   -1.122994
2017-01-13   -0.522004
2017-01-14   -0.516702
2017-01-15    0.385429
2017-01-16   -0.257194
2017-01-17   -2.633614
2017-01-18    0.122347
2017-01-19    0.118858
2017-01-20    0.159327
Freq: D, dtype: float64

In [61]:
# 按照 2 天进行降采样，并对 2 天对应的数据求和作为新数据
data.resample('2D').sum()

2017-01-01   -0.539766
2017-01-03    0.392813
2017-01-05    3.971413
2017-01-07   -0.638597
2017-01-09   -1.493799
2017-01-11   -0.931056
2017-01-13   -1.038707
2017-01-15    0.128235
2017-01-17   -2.511267
2017-01-19    0.278185
Freq: 2D, dtype: float64

In [62]:
# 按照 2 天进行降采样，并对 2 天对应的数据求平均值作为新数据
data.resample('2D').mean()

2017-01-01   -0.269883
2017-01-03    0.196407
2017-01-05    1.985706
2017-01-07   -0.319299
2017-01-09   -0.746900
2017-01-11   -0.465528
2017-01-13   -0.519353
2017-01-15    0.064117
2017-01-17   -1.255633
2017-01-19    0.139092
Freq: 2D, dtype: float64

In [63]:
# 按照 2 天进行降采样，并选取对应 2 天的最大值作为新数据
data.resample('2D').max()

2017-01-01    0.408097
2017-01-03    0.705552
2017-01-05    2.975416
2017-01-07   -0.128451
2017-01-09    0.019520
2017-01-11    0.191937
2017-01-13   -0.516702
2017-01-15    0.385429
2017-01-17    0.122347
2017-01-19    0.159327
Freq: 2D, dtype: float64

In [65]:
# 按照 2 天进行降采样，并将对应 2 天数据的原值、最大值、最小值、以及临近值列出
data.resample('2D').ohlc()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-01-01</th>
      <td>0.408097</td>
      <td>0.408097</td>
      <td>-0.947863</td>
      <td>-0.947863</td>
    </tr>
    <tr>
      <th>2017-01-03</th>
      <td>0.705552</td>
      <td>0.705552</td>
      <td>-0.312739</td>
      <td>-0.312739</td>
    </tr>
    <tr>
      <th>2017-01-05</th>
      <td>0.995997</td>
      <td>2.975416</td>
      <td>0.995997</td>
      <td>2.975416</td>
    </tr>
    <tr>
      <th>2017-01-07</th>
      <td>-0.128451</td>
      <td>-0.128451</td>
      <td>-0.510146</td>
      <td>-0.510146</td>
    </tr>
    <tr>
      <th>2017-01-09</th>
      <td>0.019520</td>
      <td>0.019520</td>
      <td>-1.513320</td>
      <td>-1.513320</td>
    </tr>
    <tr>
      <th>2017-01-11</th>
      <td>0.191937</td>
      <td>0.191937</td>
      <td>-1.122994</td>
      <td>-1.122994</td>
    </tr>
    <tr>
      <th>2017-01-13</th>
      <td>-0.522004</td>
      <td>-0.516702</td>
      <td>-0.522004</td>
      <td>-0.516702</td>
    </tr>
    <tr>
      <th>2017-01-15</th>
      <td>0.385429</td>
      <td>0.385429</td>
      <td>-0.257194</td>
      <td>-0.257194</td>
    </tr>
    <tr>
      <th>2017-01-17</th>
      <td>-2.633614</td>
      <td>0.122347</td>
      <td>-2.633614</td>
      <td>0.122347</td>
    </tr>
    <tr>
      <th>2017-01-19</th>
      <td>0.118858</td>
      <td>0.159327</td>
      <td>0.118858</td>
      <td>0.159327</td>
    </tr>
  </tbody>
</table>
</div>

In [66]:
# 时间频率从天提升到小时，并使用相同的数据对新增加行填充
data.resample('H').ffill()

2017-01-01 00:00:00    0.408097
2017-01-01 01:00:00    0.408097
2017-01-01 02:00:00    0.408097
2017-01-01 03:00:00    0.408097
2017-01-01 04:00:00    0.408097
2017-01-01 05:00:00    0.408097
2017-01-01 06:00:00    0.408097
2017-01-01 07:00:00    0.408097
2017-01-01 08:00:00    0.408097
2017-01-01 09:00:00    0.408097
2017-01-01 10:00:00    0.408097
2017-01-01 11:00:00    0.408097
2017-01-01 12:00:00    0.408097
2017-01-01 13:00:00    0.408097
2017-01-01 14:00:00    0.408097
2017-01-01 15:00:00    0.408097
2017-01-01 16:00:00    0.408097
2017-01-01 17:00:00    0.408097
2017-01-01 18:00:00    0.408097
2017-01-01 19:00:00    0.408097
2017-01-01 20:00:00    0.408097
2017-01-01 21:00:00    0.408097
2017-01-01 22:00:00    0.408097
2017-01-01 23:00:00    0.408097
2017-01-02 00:00:00   -0.947863
2017-01-02 01:00:00   -0.947863
2017-01-02 02:00:00   -0.947863
2017-01-02 03:00:00   -0.947863
2017-01-02 04:00:00   -0.947863
2017-01-02 05:00:00   -0.947863
                         ...
2017-01-18 19:00:00    0.122347
2017-01-18 20:00:00    0.122347
2017-01-18 21:00:00    0.122347
2017-01-18 22:00:00    0.122347
2017-01-18 23:00:00    0.122347
2017-01-19 00:00:00    0.118858
2017-01-19 01:00:00    0.118858
2017-01-19 02:00:00    0.118858
2017-01-19 03:00:00    0.118858
2017-01-19 04:00:00    0.118858
2017-01-19 05:00:00    0.118858
2017-01-19 06:00:00    0.118858
2017-01-19 07:00:00    0.118858
2017-01-19 08:00:00    0.118858
2017-01-19 09:00:00    0.118858
2017-01-19 10:00:00    0.118858
2017-01-19 11:00:00    0.118858
2017-01-19 12:00:00    0.118858
2017-01-19 13:00:00    0.118858
2017-01-19 14:00:00    0.118858
2017-01-19 15:00:00    0.118858
2017-01-19 16:00:00    0.118858
2017-01-19 17:00:00    0.118858
2017-01-19 18:00:00    0.118858
2017-01-19 19:00:00    0.118858
2017-01-19 20:00:00    0.118858
2017-01-19 21:00:00    0.118858
2017-01-19 22:00:00    0.118858
2017-01-19 23:00:00    0.118858
2017-01-20 00:00:00    0.159327
Freq: H, Length: 457, dtype: float64

In [67]:
# 时间频率从天提升到小时，不对新增加行填充
data.resample('H').asfreq()

2017-01-01 00:00:00    0.408097
2017-01-01 01:00:00         NaN
2017-01-01 02:00:00         NaN
2017-01-01 03:00:00         NaN
2017-01-01 04:00:00         NaN
2017-01-01 05:00:00         NaN
2017-01-01 06:00:00         NaN
2017-01-01 07:00:00         NaN
2017-01-01 08:00:00         NaN
2017-01-01 09:00:00         NaN
2017-01-01 10:00:00         NaN
2017-01-01 11:00:00         NaN
2017-01-01 12:00:00         NaN
2017-01-01 13:00:00         NaN
2017-01-01 14:00:00         NaN
2017-01-01 15:00:00         NaN
2017-01-01 16:00:00         NaN
2017-01-01 17:00:00         NaN
2017-01-01 18:00:00         NaN
2017-01-01 19:00:00         NaN
2017-01-01 20:00:00         NaN
2017-01-01 21:00:00         NaN
2017-01-01 22:00:00         NaN
2017-01-01 23:00:00         NaN
2017-01-02 00:00:00   -0.947863
2017-01-02 01:00:00         NaN
2017-01-02 02:00:00         NaN
2017-01-02 03:00:00         NaN
2017-01-02 04:00:00         NaN
2017-01-02 05:00:00         NaN
                         ...
2017-01-18 19:00:00         NaN
2017-01-18 20:00:00         NaN
2017-01-18 21:00:00         NaN
2017-01-18 22:00:00         NaN
2017-01-18 23:00:00         NaN
2017-01-19 00:00:00    0.118858
2017-01-19 01:00:00         NaN
2017-01-19 02:00:00         NaN
2017-01-19 03:00:00         NaN
2017-01-19 04:00:00         NaN
2017-01-19 05:00:00         NaN
2017-01-19 06:00:00         NaN
2017-01-19 07:00:00         NaN
2017-01-19 08:00:00         NaN
2017-01-19 09:00:00         NaN
2017-01-19 10:00:00         NaN
2017-01-19 11:00:00         NaN
2017-01-19 12:00:00         NaN
2017-01-19 13:00:00         NaN
2017-01-19 14:00:00         NaN
2017-01-19 15:00:00         NaN
2017-01-19 16:00:00         NaN
2017-01-19 17:00:00         NaN
2017-01-19 18:00:00         NaN
2017-01-19 19:00:00         NaN
2017-01-19 20:00:00         NaN
2017-01-19 21:00:00         NaN
2017-01-19 22:00:00         NaN
2017-01-19 23:00:00         NaN
2017-01-20 00:00:00    0.159327
Freq: H, Length: 457, dtype: float64

In [69]:
# 时间频率从天提升到小时，只对新增加前 3 行填充
data.resample('H').ffill(limit=3)

2017-01-01 00:00:00    0.408097
2017-01-01 01:00:00    0.408097
2017-01-01 02:00:00    0.408097
2017-01-01 03:00:00    0.408097
2017-01-01 04:00:00         NaN
2017-01-01 05:00:00         NaN
2017-01-01 06:00:00         NaN
2017-01-01 07:00:00         NaN
2017-01-01 08:00:00         NaN
2017-01-01 09:00:00         NaN
2017-01-01 10:00:00         NaN
2017-01-01 11:00:00         NaN
2017-01-01 12:00:00         NaN
2017-01-01 13:00:00         NaN
2017-01-01 14:00:00         NaN
2017-01-01 15:00:00         NaN
2017-01-01 16:00:00         NaN
2017-01-01 17:00:00         NaN
2017-01-01 18:00:00         NaN
2017-01-01 19:00:00         NaN
2017-01-01 20:00:00         NaN
2017-01-01 21:00:00         NaN
2017-01-01 22:00:00         NaN
2017-01-01 23:00:00         NaN
2017-01-02 00:00:00   -0.947863
2017-01-02 01:00:00   -0.947863
2017-01-02 02:00:00   -0.947863
2017-01-02 03:00:00   -0.947863
2017-01-02 04:00:00         NaN
2017-01-02 05:00:00         NaN
                         ...
2017-01-18 19:00:00         NaN
2017-01-18 20:00:00         NaN
2017-01-18 21:00:00         NaN
2017-01-18 22:00:00         NaN
2017-01-18 23:00:00         NaN
2017-01-19 00:00:00    0.118858
2017-01-19 01:00:00    0.118858
2017-01-19 02:00:00    0.118858
2017-01-19 03:00:00    0.118858
2017-01-19 04:00:00         NaN
2017-01-19 05:00:00         NaN
2017-01-19 06:00:00         NaN
2017-01-19 07:00:00         NaN
2017-01-19 08:00:00         NaN
2017-01-19 09:00:00         NaN
2017-01-19 10:00:00         NaN
2017-01-19 11:00:00         NaN
2017-01-19 12:00:00         NaN
2017-01-19 13:00:00         NaN
2017-01-19 14:00:00         NaN
2017-01-19 15:00:00         NaN
2017-01-19 16:00:00         NaN
2017-01-19 17:00:00         NaN
2017-01-19 18:00:00         NaN
2017-01-19 19:00:00         NaN
2017-01-19 20:00:00         NaN
2017-01-19 21:00:00         NaN
2017-01-19 22:00:00         NaN
2017-01-19 23:00:00         NaN
2017-01-20 00:00:00    0.159327
Freq: H, Length: 457, dtype: float64